.navbarSection {
    background-color: unset !important;
    box-shadow: unset !important;
    & .firstSection_logo_text {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        text-transform: uppercase;
        color: #e77228;
    }
    & img {
        width: 170px
    }
}