.line {
  display: block;
  margin: 25px;
}
.line h2 {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #979797;
  position: relative;
}
.line h2 span {
  background-color: white;
  position: relative;
  top: 10px;
  padding: 0 10px;
  color: #979797;
}
