@media screen and (min-width: 769px) {

  .pitch-main {
    display: flex;
    max-width: 85%;
    margin: auto;
    margin-top: 25px;
    // padding-top:25px;
    padding-bottom: 100px;
    }
    .page.pitch {
        background-color: #e5e5e5;
        min-height: 100vh;
    }
}

@media screen and (max-width: 769px) {

    .pitch-main {
      display: flex;
      max-width: 100%;
      margin: auto;
      // margin-top: 8px;
      padding-bottom: 100px;
  
      }
      .page.pitch {
        background-color: #e5e5e5;
        min-height: 100vh;
    }
    
  }


